html{

    /*background: url("../images/signupbg.png") repeat transparent ;*/
    font-family: "trebuchet ms";
}
body
{
    font-family: "trebuchet ms";
}
.cboxIframe{background:transparent;}

.facebook,
#fb_login_button_id
{
    background: url("../images/facebook.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 47px;
    margin: 20px auto 0;
    width: 280px;
    text-indent: -9999px;
}
#emailsignup
{
    display: none;
    padding: 15px 50px 15px 50px;
    min-height: 256px;
    max-height: 256px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {

    .signup-table label
    {
        font-size: 14px;
        line-height: 20px;
        font-weight: normal;
    }
    #emailsignup
    {
        display: none;
        padding: 15px 50px 15px 50px;
        min-height: 259px;
        max-height: 259px;
    }
}
.vendorform
{
    background: url("../images/signupbg.png");


    padding-top: 21px ;
    width: 450px !important;
}
.orangebutton
{
    background: url("../images/buttonbg.png");
    border: none;
    width: 105px;
    height:52px;
    font-size: 20px;
    font-family: "trebuchet ms";
    color:#fff;
    margin-top: 10px;
}

/* LOGIN FORM */
.login-form
{
    margin:0 20px;
    max-height: 176px;
    min-height: 176px;
}
.login-form {
    margin: 0 45px;
    padding-bottom: 5px;
}
/**/